@import './variables';
@import './resets';
@import './card';
// something important that I have to note is that I didn't do the first commit to save the starting files. Now I will do a commit with a ton of changes and is not going to be easy to go back.
// That is something really important to understand. I need to see when is the right time to do a commit and make sure that is easy to go back and do changes.
// For this project in specific is not that bad since this is quite simple but you need to get in to the habit.

body {
    background-color: $veryDarkBlue;
    font-family: $font;
    min-height: 100vh;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    width: 100%;
}

// .space {
//     height: 20vh;;
// }

.attribution {
    width: 100%;
    color:  hsl(228, 45%, 44%);
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: .2rem;
    text-align: center;

    a {
        color: white;
    }
}
